/*通用*/
body,p,ul,ol,dl,h1,h2,h3,h4,h5,h6,input, button{
	padding:0; margin:0;
}
input, button{
	border:none; outline:none;
}
.bs{
	box-sizing:border-box;
}

h2.hdHeadline{
	line-height:60px; font-size:20px; font-family:"黑体"; font-weight:normal;
}

/*输入框*/
.hdInput{
	display:inline-block; margin-bottom:2px; margin-right:20px; position:relative; height:32px;
}
.hdTitle{
	width:200px; height:32px; background:#d0dee7; font-size:16px; color:#444; text-align:center;
	line-height:32px; display:inline-block; vertical-align:top; user-select:none; font-family:"微软雅黑";
}
.hdInputArea{
	display:inline-block; box-sizing:border-box; border-top:1px solid #abcce1; border-right:1px solid #abcce1; border-bottom:1px solid #abcce1;
	width:300px; height:32px; vertical-align:top;
}
.hdInputArea input{
	vertical-align:top; height:30px; line-height:30px; font-size:16px; color:#666; width:100%; padding:0 5px; box-sizing:border-box;position:relative;
}
.hdInput font{
  font-size:16px; line-height:32px; width:10px; display:inline-block; text-align:right; position:absolute; top:0; right:-10px;
  font-family:"微软雅黑";
}
.slot-hdInputDate{
  position:absolute;
  top:0;
  left:200px;
}
.hdInputArea .inputIndex{
  /*z-index: 9;*/
}
.hdSingleInputDate .icon_src{
  position:absolute;
  z-index:99;
  right: -295px;
  top: 80%;
  -webkit-transform: translateY(28%);
  -moz-transform: translateY(28%);
  -ms-transform: translateY(28%);
  -o-transform: translateY(28%);
}
/*选择框*/
.hdSelect{
  margin-bottom:2px; display:inline-block;  margin-right:20px; position:relative;
}
.hdSelect font{
  position:absolute; line-height:32px; display:inline-block; width:10px; font-size:16px; text-align:right; top:0; right:-10px;
}
.hdSelectArea{
	height:32px; line-height:32px; position: relative; display:inline-block; vertical-align:top;
}
.hdSelectArea>.hdShowlist{
	width:120px; height:32px; line-height:32px; background:#abcce1; color:#333; font-size:14px; padding:0 5px; vertical-align:top;
}
.hdSelectArea .hdSelectText{
	width:180px; height:32px; line-height:30px; border:1px solid #abcce1; font-size:14px; padding:0 5px; vertical-align:top;
}
.hdSelectArea ul{
	width:300px; min-height:150px; max-height:300px; border:1px solid #ccc; background:white; position: absolute;
  top:32px; left:0; overflow:auto; font-size:15px; z-index:100;
}
.hdSelectArea ul li{
	line-height:28px; cursor:pointer; white-space:nowrap; padding:0 10px;
}
.hdSelectArea ul li:nth-child(2n-1){
  background:#f8fbfd;
}
.hdSelectArea ul li:nth-child(2n){
  background:#e1e7e1;
}
.hdSelectArea ul li:hover{
	color: red;
}
.hdSelectArea ul li b, .hdSelectArea ul li i{
  font-size:13px;
}
/*单下拉框选择*/
.hdSingleSelect{
  margin-bottom:2px; display:inline-block;  margin-right:20px; position:relative;
}
.hdSingleSelect font{
  position:absolute; line-height:32px; display:inline-block; width:10px; font-size:16px; text-align:right; top:0; right:-10px;
}
.hdSingleSelect .hdSelectArea{
  height:32px; line-height:32px; position: relative; display:inline-block;
}
.hdSingleSelect .hdSelectArea>.hdShowlist{
  width:120px; height:32px; line-height:32px; background:#abcce1; color:#333; font-size:14px; padding:0 5px; vertical-align:top;
}
.hdSingleSelect .hdSelectArea .hdSelectText{
  width:300px; height:32px; line-height:30px; border:1px solid #abcce1; font-size:14px; padding:0 5px; vertical-align:top;
}
.hdSingleSelect .hdSelectArea ul{
  width:300px; min-height:150px; max-height:300px; border:1px solid #ccc; background:white; position: absolute;
  top:32px; left:0; overflow:auto; font-size:15px; z-index:100;
}
.hdSingleSelect .hdSelectArea ul li{
  line-height:28px; cursor:pointer; white-space:nowrap; padding:0 10px;
}
.hdSingleSelect .hdSelectArea ul li:nth-child(2n-1){
  background:#f8fbfd;
}
.hdSingleSelect .hdSelectArea ul li:nth-child(2n){
  background:#e1e7e1;
}
.hdSingleSelect .hdSelectArea ul li:hover{
  color: red;
}
.hdSingleSelect .hdSelectArea ul li b, .hdSingleSelect .hdSelectArea ul li i{
  font-size:13px;
}

/*三级联动（省市区）下拉控件*/
.hdTreble{
  display:inline-block; margin-bottom:2px; margin-right:20px; position:relative;
}
.hdTreble .hdTrebleArea{
  display:inline-block;
}
.hdTreble .hdTrebleArea b{
  position:relative; height:32px; display:inline-block;
}
.hdTreble .hdTrebleArea input{
  width:80px; height:32px; box-sizing:border-box; border:1px solid #abcce1; padding:0 5px; overflow:hidden; text-overflow:ellipsis;
  white-space:nowrap;
}
.hdTreble .hdTrebleArea ul{
  border:1px solid #abcce1; width:80px; box-sizing:border-box; border-top:none; max-height:150px; overflow:auto;
  position:absolute; top:32px; left:0; z-index: 1000; background:white; box-shadow:0px 1px 1px #aaa;
}
.hdTreble .hdTrebleArea ul li{
  padding:0 5px; line-height:26px; font-size:14px; white-space:nowrap;
}
.hdTreble .hdTrebleArea ul li:hover{
  color:red;
}

/*二选一控件 ##*/
.hdAlternative{
  display:inline-block; margin-bottom:2px; margin-right:20px; position:relative;
}
.hdAlternative .hdAlternativeArea{
  display:inline-block; line-height:32px; width:300px; white-space:nowrap;
}
.hdAlternative .hdAlternativeArea label{
  width:150px; text-align:center; display:inline-block;
}
.hdAlternative .hdAlternativeArea label input{
  margin-right:5px;
}

/*按钮*/
.hdBtnBox{
	display:inline-block;
}
.hdBtnBox button{
	width:auto; height:40px; padding:0 15px; color:white; border-radius:5px; line-height:40px; text-align:center; font-size:16px; font-family:"微软雅黑";
	box-shadow:1px 1px 1px #666; user-select:none; cursor:pointer;
}
.hdBtnBox button img{
	margin-right:8px; vertical-align:top; height:20px; margin-top:10px;
}

/*表格*/
.hdTable{
  border-collapse : collapse; border-radius:5px; overflow:hidden; width:100%;
}
.hdTable thead th{
  background:#444444; color:white; font-size:14px; height:32px; line-height:32px; padding:0 10px; border:1px solid #818a8f; font-weight:normal; white-space: nowrap; user-select:none;
}
.hdTable tbody{
  background:url("../assets/img/table_bg.png");
}
.hdTable tbody td{
  text-align:center; color:#333; font-size:13px; height:30px; line-height:30px; border:1px solid #b7c4cc; padding:0 10px;
  white-space:nowrap;
}

/*日期控件*/
.hdDate{
  /*white-space: nowrap;*/
  margin-bottom:2px; margin-right:20px; position:relative; display:inline-block;
}
.hdDate font{
  display:inline-block; width:10px; height:32px; line-height:32px; font-size:16px; text-align:right; position:absolute; top:0;
  right:-10px; text-align:right;
}
.hdDateTitle{
  width:200px; height:32px; background:#d0dee7; color:#444; text-align:center; line-height:32px; font-size:16px; display:inline-block;
}
.hdDate .centerThisFont{
  line-height: 32px;
}
.hdSelDateArea{
  width:300px; height:32px; display:inline-block; vertical-align:top; border-top:1px solid #abcce1; border-right:1px solid #abcce1; border-bottom:1px solid #abcce1;
  line-height:0; cursor:pointer; position:relative;
}
.hdSelDateArea>b{
  line-height:30px; color:#666; font-size:16px; padding:0 33px 0 5px;
}
.hdSelDateArea>span{
  display:inline-block; width:100%;
}
.hdSelDateArea>span>b{
  line-height:30px; color:#666; font-size:16px; padding:0 33px 0 5px;
}
.hdSelDateArea>span>a{
  padding:0 10px; line-height:30px;
}
.hdSelDateArea>span>a img{
  vertical-align:top; margin-top:7px; height:17px;
}
.hdDateSingle{
  margin-bottom: 0;
  height: 30px;
}
.hdDateTitleSingle{
  width:199px; height:32px; background:#d0dee7; color:#444; text-align:center; line-height:32px; font-size:16px; display:inline-block;
}
.hdSelDateArea_db{
  width:137.5px; height:32px; display:inline-block; vertical-align:top; border-top:1px solid #abcce1; border-right:1px solid #abcce1; border-bottom:1px solid #abcce1;
  line-height:0; cursor:pointer; position:relative;
}
.hdSelDateArea_db>b{
  line-height:30px; color:#666; font-size:16px; padding:0 33px 0 5px;
}
.hdSelDateArea_db>span{
  display:inline-block; width:100%;
}
.hdSelDateArea_db>span>b{
  line-height:30px; color:#666; font-size:16px; padding:0 0 0 5px;
}
.hdSelDateArea_db>span>a{
  padding:3px 10px 0px 10px; line-height:30px;
}
.hdDate .setblockTime{
  margin: 0;
  padding: 0;
  border-left:1px solid #CFDDE7;
}
.hdDate .setTimeFont{
  line-height: 30px;
}
.hdSelDateAreas>span>a img{
  vertical-align:top; margin-top:7px; height:17px;
}
.hdCalendar{
  border: 1px solid #d6d4d4; width:300px; background:#d0dee7; position:absolute; top:31px; left:0; padding:1px; user-select:none; z-index:100;
}
.hdYearMonthArea{
  background:#d2ddf2; border:1px solid #bfc0c4; text-align:center; padding:0 5px; line-height:30px; color:#333; font-size:12px;
}

.hdYearMonthArea .hdYearList, .hdYearMonthArea .hdMonthList{
  display:inline-block;  position:relative;
}
.hdYearMonthArea .hdYearList input, .hdYearMonthArea .hdMonthList input{
  width:50px; height:20px; padding-left:3px; padding-right:12px;
}
.hdYearMonthArea .hdYearList:after, .hdYearMonthArea .hdMonthList:after{
  content:''; position:absolute; width:10px; height:6px; background:url("../assets/img/down_triangle_icon.png") no-repeat top;
  background-size:100% auto; top:13px; right:2px;
}
.hdYearMonthArea .hdYearList .yearlist, .hdYearMonthArea .hdMonthList .monthlist{
  position:absolute; top:27px; width:50px; background:white; border-top:1px solid #eee; max-height:100px; overflow:auto;
}
.hdYearMonthArea .hdYearList .yearlist li, .hdYearMonthArea .hdMonthList .monthlist li{
  font-size:12px; line-height:20px; text-align:left; text-indent:3px;
}
.hdYearMonthArea .hdYearList .yearlist li:hover, .hdYearMonthArea .hdMonthList .monthlist li:hover{
  color:red;
}

.hdYearMonthArea a{
  padding:5px 0; box-sizing:border-box; line-height:20px;
}
.hdYearMonthArea b, .hdYearMonthArea i{
  font-family:"宋体";  color:#000; font-size:11px; line-height:20px; padding:0 5px; box-sizing:border-box; height:20px; border-radius:2px;
}
.hdYearMonthArea b:hover, .hdYearMonthArea i:hover, .hdYearMonthArea span:hover{
  border:1px solid #aaa; line-height:18px; box-shadow:0 1px 1px #aaa;
}
.hdYearMonthArea span{
  display:inline-block; width:44px; text-align:center; line-height:20px; margin:5px 0; height:20px; box-sizing:border-box;
}
.hdWeekTitle{
  width:100%; border: 1px solid #bfc0c4; border-spacing:0; border-top:none; table-layout:fixed;
}
.hdWeekTitle thead{
  width:100%; height:20px; cursor:auto;
}
.hdWeekTitle thead th{
  height:20px; text-align:center; font-size:10px; color:#333; box-sizing:border-box; border-right: 1px solid #bfc0c4;
  line-height:20px; vertical-align:top; font-weight:normal; background:#d2ddf2;
}
.hdWeekTitle thead th:last-child{
  border-right:none;
}
.hdWeekTitle tbody{
  width:100%;
}
.hdWeekTitle tbody td{
  height:42px; box-sizing:border-box; border-top:1px solid #bfc0c4; border-right: 1px solid #bfc0c4; text-align:center;
  background:-webkit-linear-gradient(top, #dce6f8, #d0d7e3); font-size:14px; background:-ms-linear-gradient(top, #dce6f8, #d0d7e3);
}
.hdWeekTitle tbody td:last-child{
  border-right:none;
}
.hdWeekTitle tbody td:hover{
  background:-webkit-linear-gradient(top, #61b1ee, #4883bb); color:white; background:-ms-linear-gradient(top, #61b1ee, #4883bb);
}
.hdWeekTitle tbody td.hdBlank{
  background:-webkit-linear-gradient(top, #b7bfc1, #e2e3e4); cursor:auto; background:-ms-linear-gradient(top, #b7bfc1, #e2e3e4);
}
.hdWeekTitle tbody td.hdOn{
  background:#7082a3 !important; box-shadow:inset 2px 2px 3px #28344b; color:white; cursor:auto;
}

/*翻页控件*/
.hdTurnpage{
  background:transparent; width:100%; height:50px; text-align:left; line-height:50px; color:#666; padding-left:5px; font-size:12px;
  overflow:hidden; white-space:nowrap;
}
.hdTurnpage .btnDisable{
  color: #ccc; cursor:auto; border-color:#ddd; background:#f4f4f4;
}
.hdTurnpage a{
  cursor:pointer; color:#41738d; display:inline-block; padding:0 10px; border:1px solid #ccc; height:30px; box-sizing:border-box;
  line-height:30px; margin-top:10px; user-select: none;
}
.hdTurnpage i{
  margin-right:50px;
}
.hdTurnpage i input{
  width:35px; height:30px; margin-top:10px; border:1px solid #ccc; box-sizing:border-box; background-position:95% center; padding:0 5px;
  box-sizing:border-box; vertical-align:top; text-align:center;
}
.hdTurnpage i a{
  display:inline-block; vertical-align:top; border:none;
}
.hdTurnpage ul{
  display:inline-block; margin:0 30px;
}
.hdTurnpage ul li{
  box-sizing:border-box; height:50px; display:inline-block;
}
.hdTurnpage ul li a, .hdTurnpage ul li span{
  margin:0 10px;
}
/*对话弹框*/
.drop-enter-active {
  transition: all .5s ease;
}
.drop-leave-active {
  transition: all .3s ease;
}
.drop-enter {
  transform: translateY(-500px);
}
.drop-leave-active {
  transform: translateY(-500px);
}
.dialog-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
}
.dialog-cover {
  background: #000;
  opacity: .3;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.dialog-content {
  width: 362px;
  position: fixed;
  max-height: 50%;
  overflow: auto;
  background: #fff;
  top: 25%;
  left: 65%;
  margin-left: -25%;
  z-index: 999;
  border: 1px solid #47ccbe;
  border-radius: 5px;
  padding: 0 0 1% 0;
  line-height: 1.6;
  text-align: center;
}
.dialog-close {
  position: absolute;
  right: 5px;
  top: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
}
.dialog-close:hover {
  color: darkred;
}
.dialog_top{
  width:100%;height:40px;background:#47ccbe;text-align: center;line-height: 40px;color:#fff;margin-bottom:20px;
}
/*弹出框*/
.hdAlert{
  position:fixed; z-index: 10005; background:rgba(0,0,0,0.6); top:0; left:0; right:0; bottom:0; margin:0;
}
.hdAlert .windowArea{
  width:450px; height:260px; background:white; position:absolute; top:0; left:0; right:0; bottom:0; margin:auto;
  border-radius:5px; overflow:hidden;
}
.hdAlert .windowArea p{
  background:#47ccbe; text-align:center; line-height:36px; font-size:16px; color:#fff; position:relative;
  user-select: none;
}
.hdAlert .windowArea p a{
  display:inline-block; width:36px; height:36px; text-align:center; line-height:36px; font-size:20px; position:absolute;
  top:0; right:0; cursor:pointer;
}
.hdAlert .windowArea .content{
  padding:38px 35px; max-height:90px; overflow:auto;
}
.hdAlert .windowArea .content b{
  width:60px; height:60px;
}
.hdAlert .windowArea .content b img{
  width:100%;
}
.hdAlert .windowArea .content i{
  width:100%; color:#888; text-align:center;
}
.hdAlert .windowArea .btn{
  padding-top:10px;
  text-align:center;
}
.hdAlert .windowArea .btn button{
  text-align:center; font-size:16px; padding:0 20px; line-height:32px; border-radius:3px;
  margin:0 15px; user-select:none; cursor:pointer;
}
.hdAlert .windowArea .btn button.confirm{
  background:#00b497; color:white;
}
.hdAlert .windowArea .btn button.cancel{
  border:1px solid #aaa; background:white; color:#333;
}


/*uploader样式*/
.uploader-drop p{
  line-height:40px;
}

/*确认提示框*/
.confirm-content{
  text-align: center;
  width: 20%;
  position: fixed;
  max-height: 50%;
  overflow: auto;
  background: #fff;
  top: 25%;
  left: 65%;
  margin-left: -25%;
  z-index: 999;
  /*border: 1px solid #47ccbe;*/
  border-radius: 5px;
  padding: 0 0 1% 0;
  line-height: 1.6;
}
.dialog-confirm{
  width: 60px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size:18px;
  color:#fff;
  background: #49a7ad;
  border-radius:5px;
  margin-top: 20px;
  margin-right:15px;
}
.dialog-cancel{
  width: 60px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size:18px;
  color:#fff;
  background: #db3434;
  border-radius:5px;
  margin-top: 20px;
  margin-left:15px;
}
.hdToTop{
  position:fixed; display:inline-block; right:100px; bottom:120px; border:2px solid #333; border-radius:50%;
  width:60px; height:60px; cursor:pointer; opacity:0.6;
}
.hdToTop img{
  width:40px; height:40px; margin-top:12px; margin-left:10px;
}

.drop-tips-leave-active {
  transition: all .3s ease;
}
/*全屏提示框*/
.drop-tips-enter-active {
  transition: all .5s ease;
}
.drop-tips-enter {
  transform: translateY(-500px);
}
.drop-tips-leave-active {
  transform: translateY(-500px);
}
.tips-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
}
.tips-cover {
  background: #000;
  opacity: .6;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.tips-content {
  width: 50%;
  position: fixed;
  max-height: 50%;
  overflow: auto;
  top: 20%;
  left: 50%;
  margin-left: -25%;
  z-index: 10;
  padding: 2%;
  line-height: 1.6;
  text-align: center;
  color:#fff;
  font-size:30px;
}
/*图片上传*/
.hduploadImg1{
  display: inline-block;
  height: 30px;
  line-height: 30px;
}
.hduploadImg1 .title{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 360px;
  height: 30px;
  border:1px solid #ddd;
  background: #eee;
  text-align: center;
  line-height: 30px;
  vertical-align:top;
}
.hduploadImg1 label{
  height: 24px;
  display:inline-block;
  border:1px solid #ddd;
  background: #eee;
  text-align: center;
  line-height: 24px;
  padding:3px 10px;
  vertical-align: top;
}
.hduploadImg1 .tips{
  color:red;
  vertical-align: top;
  margin-left: 5px;
  font-size:13px;
}
.hduploadImg2 span{
  color:#2689ff;
  text-decoration: underline;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  cursor: pointer;
  width: 160px;
  display: inline-block;
  vertical-align: middle;
}
/*table表格日期*/
.hdstartDate .hdSelDateArea_db>span>b{
  font-size:13px;
  color:#000;
}








